<footer class="bg-dark text-white py-3"style="height: 294px;;">
    <div class="container-fluid">
      <div class="row">
        <!-- Logo and Tagline -->
        <div class="col-md-4 mb-3">
          <img src="../assets/Images/navImg/logo1.jpg" alt="Logo" style="width: 250px; height: auto;" class="mb-3">
          <p>Discover your favorite movies, explore genres, and stay updated with the latest releases. Your gateway to the world of cinema!</p>
        </div>
  
        <!-- Explore Section -->
        <div class="col-md-2 mb-3">
          <h5>Explore</h5>
          <ul class="list-unstyled">
            <li><a routerLink="/Upcoming" class="text-white text-decoration-none">Upcoming</a></li>
          </ul>
        </div>
  
  
        <!-- Social Media -->
        <div class="col-md-4 mb-4">
          <h5>Connect with Us</h5>
          <p>Follow us on social media for the latest updates and news.</p>
          <div>
            <a href="" class="text-white me-3"><i class="fab fa-facebook fa-2x"></i></a>
            <a href="#" class="text-white me-3"><i class="fab fa-twitter fa-2x"></i></a>
            <a href="#" class="text-white me-3"><i class="fab fa-instagram fa-2x"></i></a>
            <a href="#" class="text-white"><i class="fab fa-youtube fa-2x"></i></a>
          </div>
        </div>
      </div>
      <hr class="border-light">
      <div class="text-center">
        <p class="mb-0">&copy; 2024 MovieWorld. All Rights Reserved by VAMSI PINNINTI.<a href="http://www.bookmyshow.com" target="_blank">Book My Show</a></p>
      </div>
    </div>
  </footer>
  