<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/dashboard"><h2>{{user.userEmail}}</h2></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/movie-list" (click)="movieList()">MovieList</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/movie-list" (click)="movieList()">UserList</a>
          </li>
       
          <li class="nav-item">
            <a class="nav-link" href="JAVASCRIPT:VOID(0)" (click)="logout()">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  