<app-adminnavbar></app-adminnavbar>
<br>
<br>
<br>
<br>
<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <!-- Add Movie Button -->
      <button type="button" class="btn btn-danger btn-lg mb-3 mt-5" (click)="addMovieForm()">Add Movie</button>
      <hr>
      <!-- Movie Table -->
      <table class="table table-bordered text-center">
        <thead>
          <tr class="table-dark">
            <th>S.No</th>
            <th>Movie ID</th>
            <th>Movie Name</th>
            <th>movieImagePath</th>
            <th>Price</th>
            <th>Language</th>
            <th>Video Path</th>
            <th>Content</th>
            <th>Genre</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let movie of movies; let i = index">
          <tr>
            <td>{{ i + 1 }}</td>
            <td>{{ movie.movieId }}</td>
            <td>{{ movie.movieName }}</td>
            <td>
                  <div *ngIf="movie.movieImagePath">
              <img [src]="movie.movieImagePath" alt="Unable to Load!" class="img-rounded" style="width: 125px; height: 127px">
            </div>
            </td>
            <td>{{ movie.moviePrice }}</td>
            <td>{{ movie.movieLanguageCategory }}</td>
            
            <td> 
              <div *ngIf="movie.movieVideoPath">
              <video width="220" height="140" controls>
                <source src="{{movie.movieVideoPath}}" type="video/mp4"/>
                <source src="{{movie.movieVideoPath}}" type="video/ogg"/>
                Your browser does not support the video tag.
              </video>
            </div>
              <!-- <video width="320" height="240" controls>
                <source src="assets/Images/videos/Pushpana_flowernu_nenachiya.mp4"type="video/mp4"/>  
                Your browser does not support the video tag.
                  </video> -->
            </td>
            <td>{{ movie.movieContent }}</td>
            <td>{{ movie.movieGenreCategory }}</td>
            <td>
              <button 
                type="button" 
                class="btn btn-info btn-lg btn-sm mb-3" style="width: 65px;"
                (click)="updateMovie(movie.movieId)">
                Update
              </button>
              &nbsp;&nbsp;
              <button 
                type="button" 
                class="btn btn-danger btn-lg btn-sm "style="width: 65px;" 
                (click)="deleteMovie(movie.movieId)">
                Delete
              </button>
            </td>
          </tr>
          <!-- Handle Empty Movies List -->
          <tr *ngIf="movies.length === 0">
            <td colspan="10" class="text-center text-danger">
              No movies available. Please add a movie.
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
